@import "tailwindcss";

:root {
  --background: #E4D4C8;
  --foreground: #292524;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-beige-50: #FAF5F0;
  --color-beige-100: #F3EAE1;
  --color-beige-200: #E4D4C8;
  --color-beige-300: #D2C0B0;
  --color-beige-400: #C3AD9B;
  --color-beige-900: #292524;
  --color-beige-muted: #6b6661;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

